.container {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 40px;
}

.but {
    height: 20vh;
    width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.but:hover{
    cursor: pointer;
    background: #6d44b8;
}

.box {
    text-decoration: none;
}